doctype html
html(ng-app="myApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='webjars/bootstrap/3.2.0/css/bootstrap.css')
    link(rel='stylesheet', href='webjars/angular-ui/0.4.0/angular-ui.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    script(src='/javascripts/modernizr.js')

  body(ng-app="citiesUiApp")
    block content

    script(src='webjars/jquery/2.1.1/jquery.js')
    script(src='webjars/angularjs/1.2.23/angular.js')
    script(src='webjars/angularjs/1.2.23/angular-resource.js')
    script(src='webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js')
    script(src='webjars/angular-ui/0.4.0/angular-ui.js')
    script(src='webjars/angular-ui-router/0.2.11/angular-ui-router.js')
    script(src='webjars/angularjs-google-maps/0.6.0/ng-map.js')
    script(src='webjars/bootstrap/3.2.0/js/bootstrap.js')
    script(src='javascripts/app.js')
    script(src='javascripts/controllers.js')
